.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 4rem);
  padding-top: 4rem;
  width: -webkit-fill-available;
  position: relative;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0rem 1rem;
  width: -webkit-fill-available;
  height: calc(85vh - 4rem);
  overflow-y: scroll;
  max-width: 70vw;
  text-align: start;
  font-size: 0.8rem;
}
.each-markdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 1rem;
  width: -webkit-fill-available;
  position: relative;
  overflow-y: scroll;
}
.box h1,
.box h2,
.box h3,
.box h4,
.box h5,
.box h6 {
  margin: 0;
  padding: 0;
  color: #333;
  display: block;
  width: 100%;
}
.box h1 {
  font-size: 1.5rem;
}
.box h2 {
  font-size: 1.25rem;
}
.box h3 {
  font-size: 1.1rem;
}
.box h4 {
  font-size: 1rem;
}
.box h5 {
  font-size: 0.9rem;
}
.box h6 {
  font-size: 0.8rem;
}
.box ul {
  list-style: circle;
  padding-left: 0.75rem;
  margin: 0;
  display: block;
  width: 100%;
}
.box ul li {
  margin: 0;
  padding: 0.15rem 0.5rem;
  display: block;
  width: 60%;
}
.box p {
  margin: 0;
  padding: 0;
  display: block;
  width: 60%;
}
.box a {
  color: var(--primary-color);
  text-decoration: underline;
  width: 60%;
}
.box a:hover {
  color: var(--secondary-color);
}
.box img {
  width: auto;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  position: absolute;
  top: 10px;
  right: 1rem;
}
.box img:nth-child(1) {
  top: 10px;
}
.box img:nth-child(2) {
  top: 170px;
}
.box img:nth-child(3) {
  top: 330px;
}
.box img:nth-child(4) {
  top: 490px;
}
.box img:nth-child(5) {
  top: 650px;
}
.box img:nth-child(6) {
  top: 810px;
}
.box img:nth-child(7) {
  top: 970px;
}
.box img:nth-child(8) {
  top: 1130px;
}
.box img:nth-child(9) {
  top: 1290px;
}
.box img:nth-child(10) {
  top: 1450px;
}
.box img:nth-child(11) {
  top: 1610px;
}
.box img:nth-child(12) {
  top: 1770px;
}
