.container {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-width: 60vw;
  box-shadow: var(--box-shadow);
  transition: box-shadow var(--transition-speed);
  animation: slideIn 0.5s ease-out forwards;
  overflow-x: hidden;
  position: relative;
}
.teacher {
  position: absolute;
  bottom: -13%;
  left: 35%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: slideInTeacher 0.5s ease-out 0s forwards;
}
.teacher > img {
  border-radius: 50%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: pulse 2s infinite;
}
.teacher:hover {
  transform: translateX(-50%) scale(1.05);
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.6));
}
.teacher:hover > img {
  transform: rotate(-5deg);
  filter: drop-shadow(0 0 20px rgba(241, 194, 125, 0.8));
}
@keyframes pulse {
  0%,
  100% {
    filter: drop-shadow(0 0 15px rgba(241, 194, 125, 0.7));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(241, 194, 125, 1));
  }
}
@keyframes slideInTeacher {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container:hover {
  box-shadow: var(--hover-box-shadow);
}

.container > h2 {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary-color);
  text-align: left;
  width: -webkit-fill-available;
  animation: slideInFromLeft 0.5s ease-out 0s forwards;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.box {
  display: flex;
  gap: 1rem;
  width: -webkit-fill-available;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
}

.box > img {
  flex: 1;
  height: 40vh;
  animation: slideInImage 0.5s ease-out 0s forwards;
  flex: 1;
}

@keyframes slideInImage {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideInAndRotate {
  from {
    transform: translateX(100%) perspective(300px) rotateY(-10deg) translateY(0);
    opacity: 0;
  }
  to {
    transform: translateX(0) perspective(360px) rotateY(-16deg)
      translateY(-30px);
    opacity: 1;
  }
}
.box > p {
  flex: 2;
  padding-left: 1rem;
  font-size: 0.85rem;
  color: #333;
  text-align: center;
  animation: slideInAndRotate 0.5s ease-out 0s forwards;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  color: var(--white-color);
  padding: 0.75rem;
  flex: 2;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: -webkit-fill-available;
  position: relative;
}

.controls > button {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  transition: background-color var(--transition-speed),
    transform var(--transition-speed), box-shadow var(--transition-speed);
  margin-top: 0.5rem;
}

.controls > button:hover,
.controls > button:focus {
  transform: translateY(-2px);
  box-shadow: var(--hover-box-shadow);
}

.controls > button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .container {
    max-width: 90vw;
  }

  .box,
  .controls {
    flex-direction: column;
    align-items: center;
  }

  .controls > button {
    width: 100%;
    margin: 5px 0;
  }
}

.controls > label {
  font-size: 0.7rem;
  text-align: left;
  width: 75px;
  position: absolute;
  top: -30px;
  right: 0;
}
.rateSlider {
  position: absolute;
  top: -10px;
  right: 0;
  -webkit-appearance: none;
  width: 75px;
  height: 6px;
  border-radius: 2px;
  background: #ddd;
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.rateSlider:hover {
  opacity: 1;
}
.rateSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
}
.rateSlider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
}
